<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Fix</display-name>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.BX.vcode.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.BX.user.web.servlet.UserServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>cn.BX.base.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTableServlet</servlet-name>
    <servlet-class>cn.BX.table.web.AddTableServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>cn.BX.table.web.TableServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RangeServlet</servlet-name>
    <servlet-class>cn.BX.range.web.servlet.RangeServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>RangeServlet</servlet-name>
    <url-pattern>/RangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/servlet/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/servlet/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTableServlet</servlet-name>
    <url-pattern>/servlet/AddTableServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/servlet/TableServlet</url-pattern>
  </servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>